@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}

.content {
	grid-area: content;
	position: relative;
}

.header {
	grid-area: header;
}

.footer {
	grid-area: footer;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "header  header  header" "content content content" "footer  footer  footer";
	background-color: #fff;
	color: #444;
}

.box {
	font-size: 150%;
}

.content {
	/* background: #f6f6f6; */
	background: rgb(243, 239, 239);
}

.topleft {
	position: absolute;
	top: 0;
	left: 0;
}

.topright {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
}

.bottomleft {
	position: absolute;
	bottom: 0;
	left: 0;
}

.bottomright {
	position: absolute;
	bottom: 0;
	right: 0;
}


/*HEADER*/

.header__top {
	overflow: hidden;
	position: relative;
	height: 100vh;
	background-color: cadetblue;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-position: center;
}

.header_overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(26, 90, 69, 0.5);
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 1300px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
}


/*------------------Условие для экранов от 0 до 768px------------*/

@media (max-width: 768px) {
	.nav-container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.social_site {
		display: none;
	}
}

.logo {}

.nav-wrapper {}


/*------------------DESKTOP NAVIGATION------------*/

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}


/*------------------Условие для экранов от 0 до 1200px------------*/

@media (max-width: 1200px) {
	.nav {
		display: none;
	}
	.social_site {
		display: none;
	}
}

.nav__item {
	margin-right: 50px;
}

.nav__item:last-child {
	margin-right: 0px;
}

.nav__link {
	font-size: 22px;
	font-weight: 600;
	color: black;
	text-decoration: none;
}

.nav__link:hover {
	color: rgb(255, 102, 0);
}


/*------------------MOBILE NAVIGATION------------*/

.menu-icon {
	z-index: 19;
	position: relative;
	display: none;
	width: 30px;
	height: 30px;
}


/*------------------Условие для экранов от 0 до 1200px------------*/

@media (max-width: 1200px) {
	.menu-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
}

.menu-icon-line {
	position: relative;
	width: 30px;
	height: 5px;
	background-color: black;
}

.menu-icon-line::before {
	position: absolute;
	left: 0;
	top: -10px;
	content: '';
	width: 30px;
	height: 5px;
	background-color: black;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon-line::after {
	position: absolute;
	left: 0;
	top: 10px;
	content: '';
	width: 30px;
	height: 5px;
	background-color: black;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line {
	background-color: transparent;
}

.menu-icon.menu-icon-active .menu-icon-line::before {
	transform: rotate(45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line::after {
	transform: rotate(-45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}


/*------------------MOBILE NAVIGATION RIGHT------------*/

.mobile-nav {
	z-index: 9;
	display: block;
	position: absolute;
	right: -450px;
	top: 0;
	height: 100%;
	width: 350px;
	padding: 50px;
	background-color: rgba(16, 53, 34, 0.8);
	transition: transform 0.4s ease-in;
}


/*------------------Условие для экранов от 0 до 768px------------*/

@media (max-width: 768px) {
	.mobile-nav {
		width: 300px;
		right: -450px;
	}
}

.mobile-nav--active {
	transform: translateX(-100%);
}

.mobile-nav__title {
	font-size: 28px;
	font-weight: 800;
	margin-bottom: 30px;
	color: rgb(240, 243, 49);
}

.mobile-nav__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.mobile-nav__item {
	margin-bottom: 30px;
}

.mobile-nav__link {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	font-size: 22px;
}

.mobile-nav__link:hover {
	color: rgb(240, 243, 49);
}


/*------Scroll Down Button*/

.ScrollDown {
	width: 100%;
	height: 100vh;
	text-align: center;
}

.ScrollDown_box {
	position: absolute;
	left: 50%;
	bottom: 50%;
	margin-left: -50px;
	top: 81%;
}

a.btn_ScrollDown {
	display: block;
	padding-top: 84px;
	width: 100px;
	height: 10px;
	margin: 0 auto;
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}

a.btn_ScrollDown span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 30px;
	height: 30px;
	margin-left: -15px;
	border-left: 4px solid #fff;
	border-bottom: 4px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb 1.5s infinite;
	animation: sdb 1.5s infinite;
	box-sizing: border-box;
}

a.btn_ScrollDown span:nth-of-type(1) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

a.btn_ScrollDown span:nth-of-type(2) {
	top: 16px;
	-webkit-animation-delay: .15s;
	animation-delay: .15s;
}

a.btn_ScrollDown span:nth-of-type(3) {
	top: 32px;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}

@-webkit-keyframes sdb {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes sdb {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


/*SCROLLBAR*/

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-button {
	background-color: #666;
}

::-webkit-scrollbar-track {
	background-color: #999;
}

::-webkit-scrollbar-track-piece {
	background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: #666;
	border-radius: 3px;
}

::-webkit-scrollbar-corner {
	background-color: #999;
}

::-webkit-resizer {
	background-color: #666;
}


/*------SOCIAL LINKS-------*/

.social_site {
	list-style-type: none;
	margin-top: 8%;
}

.social_link:hover {
	transform: scale(1.2);
	/* Увеличиваем масштаб */
}

.social_link {
	background-color: #fff;
	width: 70px;
	height: 70px;
	border-radius: 100px;
	margin-top: 10px;
	transition: 0.4s;
}

.social_site a {
	text-decoration: none;
}

.link__vk {
	margin-left: 5px;
	margin-top: 13px;
	color: rgb(14, 88, 184);
}

.link__inst {
	margin-left: 14px;
	margin-top: 12px;
	color: black;
}

.link__fb {
	margin-left: 19px;
	margin-top: 12px;
	color: rgb(31, 89, 197);
}

.link__git {
	margin-left: 12px;
	margin-top: 11px;
	color: rgb(124, 15, 187);
}


/*----PRELOADER----*/

#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #fbfbfb url('../img/preloader.gif') no-repeat center center;
}

.visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 2s linear;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
}


/*=========section GENERAL--------*/

.container__about {
	max-width: 1170px;
	margin-right: 15px;
	margin-left: 15px;
}

.heading__text {
	color: black;
	margin-top: 15px;
	text-align: center;
	font-size: 35px;
	font-weight: 600;
}

.card-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container__about {
	margin-left: auto;
	margin-right: auto;
}

.card-section {
	margin-bottom: 50px;
}

.card_features {
	width: 300px;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.card-title-features {
	margin: 10px 0;
	color: black;
}

.card-description {
	font-size: 25px;
	color: black;
}

.card-img {
	width: 128px;
}

.card-tag {
	color: tomato;
	font-size: 1.5rem;
	font-weight: bold;
}

.card-price {
	font-size: 2rem;
	font-weight: bold;
	color: black;
}

@media all and (min-width: 480px) {
	h2 {
		font-size: 3rem;
		font-weight: 400;
		margin: 20px 0;
	}
	.card-features {
		margin: 20px;
	}
}

#form-main {
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}

#form-div {
	background-color: rgba(72, 72, 72, 0.4);
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 35px;
	padding-bottom: 50px;
	width: 450px;
	margin: 15px;
	margin-top: 30px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	margin-bottom: 20px;
}

.feedback-input {
	color: #3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
	background: #fff;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
	padding: 13px 13px 13px 54px;
}

.focused {
	color: #30aed6;
	border: #30aed6 solid 3px;
}


/* Icons ---------------------------------- */

#name {
	background-image: url(../img/persone.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus {
	background-image: url(../img/persone.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email {
	background-image: url(../img/telephone.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus {
	background-image: url(../img/telephone.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment {
	background-image: url(../img/pencil.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
	resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
	background-color: white;
}

#button-blue {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float: left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor: pointer;
	background-color: #3498db;
	color: white;
	font-size: 24px;
	padding-top: 22px;
	padding-bottom: 22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin-top: -4px;
	font-weight: 700;
}

#button-blue:hover {
	background-color: rgba(0, 0, 0, 0);
	color: #0493bd;
}

.submit:hover {
	color: #3498db;
}

.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease {
	width: 100%;
	background-color: white;
}

@media only screen and (max-width: 580px) {
	#form-div {
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}


/*FOOTER*/

footer {
	background: #eb2e4a;
	padding: 30px 0;
	color: #fff;
}

.about-us h4 {
	font-size: 21px;
}

.tweets h4 {
	font-size: 21px;
}

.tweets i {
	color: black;
}

.contacts h4 {
	font-size: 21px;
}

.contacts i {
	color: black;
}

.footer-container {
	width: 95%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 35% 35% 25%;
	grid-column-gap: 3%;
}

.about-us a {
	background: #000;
	color: #fff;
	font-size: 18px;
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 40px;
	border-bottom: 2px solid #ffea00;
	display: inline-block;
}

.about-us p {
	font-size: 18px;
}

.contacts img {
	margin-top: 15px;
}

.contacts p {
	font-size: 18px;
}

.images {
	margin-top: 10px;
}

.tweets p {
	margin-top: 20px;
	font-size: 18px;
}

footer #social {
	float: left;
	width: 50%;
	margin-top: 15px;
}

#social a {
	margin-right: 5px;
}

@media only screen and (max-width: 1000px) {
	.footer-container {
		width: 90%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 100%;
		grid-column-gap: 3%;
	}
}


/*==========BACK TO TOP BUTTON========*/

#top {
	display: inline-block;
	background-color: #FF9800;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}

#top::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
}

#top:hover {
	cursor: pointer;
	background-color: #333;
}

#top:active {
	background-color: #555;
}

#top.show {
	opacity: 1;
	visibility: visible;
}

@media (min-width: 500px) {
	#top {
		margin: 30px;
	}
}


/*=======RENT CARS=====*/

.row {
	width: 100%;
	justify-content: flex-start;
	display: flex;
	flex-flow: row wrap;
}

.product,
.product--blue,
.product--orange,
.product--red,
.product--green,
.product--yellow,
.product--pink {
	box-shadow: 1px 5px 15px #CCC;
	width: 15em;
	height: auto;
	border-radius: 3px;
	padding: 2em;
	margin: 1em;
	overflow: hidden;
	position: relative;
	flex: auto;
}

.product--blue {
	background: linear-gradient(-45deg, #92DCE5 50%, rgba(255, 255, 255, 0.5) 50%);
}

.product--orange {
	background: linear-gradient(-45deg, #EF6F6C 50%, rgba(255, 255, 255, 0.5) 50%);
}

.product--red {
	background: linear-gradient(-45deg, #E84855 50%, rgba(255, 255, 255, 0.5) 50%);
}

.product--green {
	background: linear-gradient(-45deg, #70C1B3 50%, rgba(255, 255, 255, 0.5) 50%);
}

.product--yellow {
	background: linear-gradient(-45deg, #E8DB7D 50%, rgba(255, 255, 255, 0.5) 50%);
}

.product--pink {
	background: linear-gradient(-45deg, #FF386D 50%, rgba(255, 255, 255, 0.5) 50%);
}

.product img,
.product--blue img,
.product--orange img,
.product--red img,
.product--green img,
.product--yellow img,
.product--pink img {
	max-width: 100%;
	height: auto !important;
	text-align: center;
}

.product_inner {
	display: flex;
	align-items: center;
	flex-flow: column wrap;
}

.product_inner p {
	color: rgba(0, 0, 0, 0.9);
	font-weight: 800;
}

.product_inner button {
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: #FFF;
	border-radius: 3px;
	padding: 1em 3em;
	margin: 1em 0 0 0;
	background: none;
	cursor: pointer;
	transition: background ease-in .25s;
}

.product_inner button:hover {
	background: white;
	color: #2B2D42;
}

.product_inner button:before {
	font-family: FontAwesome;
	content: '\f07A';
	color: #FFF;
	position: absolute;
	font-size: 1.5em;
	margin: 0 -1.5em;
}

.product_inner button:hover:before {
	color: #2B2D42;
}

.product_overlay {
	background: rgba(255, 255, 255, 0.9);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-500px);
	transform: translateY(-500px);
	opacity: 0;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.product_overlay h2 {
	color: rgba(43, 45, 66, 0.7);
	font-size: 1.2em;
	margin: 1em 0;
}

.product_overlay i {
	color: rgba(43, 45, 66, 0.7);
	font-size: 1.5em;
}


/*=========MAP========*/

.map {
	margin-top: 10px;
	width: 100%;
	height: 100vh;
}

.map iframe {
	width: 100%;
	height: 100%;
	border: none;
}